

/** Product CSS **/
.product-item{
  background: #dcf4fc;
}
.child-rows {
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    background: #FFF;
}
.child-rows a.list-group-item{
  border-left: 0px!important;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #02aadd;
    border-color: #02aadd;
    border-radius: 0px!important;
}
/** End Product CSS **/




/**
 * Override CSS's
 */
 .bg-light {
     background-color: #02aadd!important;
 }


.margin-top-20{
  margin-top: 20px;
}
.feature-img{
  max-height: 200px
}


.footer-bottom{
  padding: 20px;
  margin-top: 20px;
  background: #02aadd;
}
